# **********************************************************************
# MySQL configuration
# This configuration assumes MySQL 8.4 or later.
# **********************************************************************

[mysqld]
# user = mysql

# **********************************************************************
# Item locations and related settings.
# Locations can be changed as needed to distribute IO using
# additional storage devices and symbolic links.
# **********************************************************************

# The following files can reside inside the container.
# ??? pid_file                     = /var/run/mysqld/mysqld.pid              # file
# ??? socket                       = /var/tmp/mysql.sock                     # file

# All other directories and files should reside outside of the container
# (with /var/lib/mysql mapped to an external location).
log_error                    = /var/lib/mysql/error.log                # file
tmpdir                       = /var/lib/mysql/                         # directory

slow_query_log_file          = /var/lib/mysql/slow_query.log           # file
slow_query_log               = OFF

general_log_file             = /var/lib/mysql/general.log              # file
general_log                  = OFF

datadir                      = /var/lib/mysql/data/                    # directory
innodb_data_home_dir         = /var/lib/mysql/                         # directory

log_bin                      = /var/lib/mysql/binary_log               # directory and filename template
relay_log                    = /var/lib/mysql/relay_log                # directory and filename template

# **********************************************************************
# InnoDB settings.
# **********************************************************************
innodb_buffer_pool_size                = 256M

# https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html#sysvar_innodb_buffer_pool_instances
# https://www.percona.com/blog/2020/08/13/how-many-innodb_buffer_pool_instances-do-you-need-in-mysql-8/
innodb_buffer_pool_instances           = 8      # Same as number of CPUs

innodb_sort_buffer_size                = 4M
innodb_log_buffer_size                 = 4M
innodb_redo_log_capacity               = 64M    # replaces innodb_log_file_size (removed in 8.4)
innodb_data_file_path                  = ibdata1:32M:autoextend
innodb_autoextend_increment            = 32     # Mbytes

innodb_strict_mode                     = ON
innodb_monitor_enable                  = ALL
innodb_stats_on_metadata               = OFF
innodb_file_per_table                  = ON
innodb_flush_log_at_trx_commit         = 2
innodb_flush_method                    = O_DIRECT   # This assumes a high-speed SAN and/or SSD

innodb_flush_neighbors                 = 0      # This assumes SSD.  If not using SSD, set to 1
innodb_print_all_deadlocks             = 1
innodb_sync_array_size                 = 1      # Same as number of CPUs
innodb_write_io_threads                = 4
innodb_purge_threads                   = 4

# Other memory and quantity settings.
key_buffer_size                        = 8M
myisam_sort_buffer_size                = 1M

# Session (thread) settings.
max_allowed_packet                     = 1G
group_concat_max_len                   = 1024
# We recommend that you do not change any other thread settings.

# Temp table size is the lesser of tmp_table_size and max_heap_table_size.
# The values should be identical.
tmp_table_size                         = 4M
max_heap_table_size                    = 4M

# **********************************************************************
# Binary Log and replication settings
# **********************************************************************
binlog_format                = ROW
binlog_row_image             = MINIMAL
source_verify_checksum       = ON
max_binlog_size              = 32M
binlog_expire_logs_seconds   = 259200   # 3 days (3*24*60*60)

# Replicant settings
# To allow writes to this server, comment out 'read_only'.  This applies
# even if the server is NOT a replication target (in a Galera cluster).
# read_only
relay_log_recovery           = ON

# log_replica_updates must be enabled to allow the daisy-chaining of replication targets.
# log_replica_updates is also recommended for async sources in a Galera-type cluster.
# log_replica_updates        = ON

# Allow loss-less data-type conversions.
replica_type_conversions     = ALL_NON_LOSSY

# **********************************************************************
# Behavioral settings
# **********************************************************************

# NOTE:  Spaces are NOT allowed in the sql_mode settings list.
# OLD:   sql_mode = 'NO_ENGINE_SUBSTITUTION'
sql_mode = 'TRADITIONAL,ONLY_FULL_GROUP_BY'

sync_binlog                            = 0
transaction_isolation                  = READ-COMMITTED
max_connections                        = 500
max_connect_errors                     = 1000
thread_cache_size                      = 100
table_open_cache                       = 4096
table_open_cache_instances             = 16
skip_name_resolve                      = ON
explicit_defaults_for_timestamp        = ON
performance_schema                     = ON
interactive_timeout                    = 600 # seconds
event_scheduler                        = ON
log_output                             = FILE
log_queries_not_using_indexes          = 0
long_query_time                        = 5

# Query Cache is deprecated in MySQL 8.0.

# Character set and collation settings.
character_set_server    = utf8mb4
collation_server        = utf8mb4_0900_ai_ci
init_connect            = 'SET CHARACTER SET utf8mb4'

# Security-related parameters.
log_bin_trust_function_creators        = ON  # If desired, this can be set OFF between updates involving database changes.
local_infile                           = ON
secure_file_priv                       = NULL

# SSL/TLS parameters
# Setting up SSL/TLS is a customer responsibility after the initial installation is complete.
# Parameter ssl (as in, 'ssl = 0') is deprecated and being replaced with tls_version.
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_tls_version
tls_version               = TLSv1.2,TLSv1.3
